* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(141, 180, 200);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

#titulo {
  margin-bottom: 20px;
  color: rgb(60, 129, 86);
}

.content {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.endereco {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-top: 20px;
}

#botao {
  background-color: rgb(97, 129, 75);
  color: white;
  width: 80px;
  height: 30px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#input {
  width: calc(100% - 22px); /* 100% width minus padding */
  max-width: 300px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
